<!DOCTYPE html>
<head>
    <title>Albums</title>
    <%- include('partials/head') %>
</head>
<header>
    <div class="backgroundlogo">
        <img src="../images/Main logo.jpg" alt="Main Logo" />
    </div>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/groups">K-pop Groups</a></li>
            <li><a href="/albums">Albums</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/dancetraining">Contact</a></li>
        </ul>
    </nav>
</header>

<div class="container"></div>

<img controls>
    <source src="bplogo.jpg" type="img">
    Your broswer does not support the img tag.
</img>