<!DOCTYPE html>
<html lang="en">
<head>
    <title>K-pop Groups</title>
    <%- include('partials/head') %>
</head>
<body class="gp">
<header>
    <div class="backgroundlogo">
        <img src="../images/Main logo.jpg" alt="Main Logo" />
    </div>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/groups">K-pop Groups</a></li>
            <li><a href="/albums">Albums</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/dancetraining">Contact</a></li>
        </ul>
    </nav>
</header>
<body>
    <div class="container">
        <input type="text" id="searchBar" placeholder="Search photo...">

<section id="groups">
    <h2>Explore K-pop Groups</h2>
    <div class="group-gallery">
        <div class="group-item">
            <a href="/blackpink">
                <img src="../images/bp.jpg" alt="BLACKPINK">
                <h3>BLACKPINK</h3>
            </a>
        </div>
        <div class="group-item">
            <a href="/bts">
                <img src="../images/BTS.jpg" alt="BTS">
                <h3>BTS</h3>
            </a>
        </div>
        <div class="group-item">
            <a href="/twice">
                <img src="../images/twice.jpg" alt="TWICE">
                <h3>TWICE</h3>
            </a>
        </div>
        <div class="group-item">
            <a href="/exo">
                <img src="../images/exo.jpg" alt="EXO">
                <h3>EXO</h3>
            </a>
        </div>
        <div class="group-item">
            <a href="/babymonster">
                <img src="../images/Baemonlogo.jpg" alt="BABYMONSTER">
                <h3>BABYMONSTER</h3>
            </a>
        </div>
        <div class="group-item">
            <a href="/News">
                <img src="../images/bb.jpg" alt="Big Bang">
                <h3>Big Bang</h3>
            </a>
        </div>
        <div class="group-item">
            <a href="/News">
                <img src="../images/svt.jpg" alt="Seveenteen">
                <h3>Seveenteen</h3>
            </a>
        </div>
        <div class="group-item">
            <a href="/News">
                <img src="../images/sk.jpg" alt="Stray Kids">
                <h3>Stray Kids</h3>
            </a>
        </div>
        <div class="group-item">
            <a href="/News">
                <img src="../images/mamamoo.jpg" alt="Mamamoo">
                <h3>Mamamoo</h3>
            </a>
        </div>
        <div class="group-item">
            <a href="/News">
                <img src="../images/Itzy.jpg" alt="Itzy">
                <h3>Itzy</h3>
            </a>
        </div>
        <div class="group-item">
            <a href="/News">
                <img src="../images/Enhypen.jpg" alt="Enhypen">
                <h3>Enhypen</h3>
            </a>
        </div>
        <div class="group-item">
            <a href="/News">
                <img src="../images/nj.jpg" alt="New Jeans">
                <h3>New Jeans</h3>
            </a>
        </div>
        <div class="group-item">
            <a href="/News">
                <img src="../images/Asepa.jpg" alt="Asepa">
                <h3>Asepa</h3>
            </a>
        </div>
        <div class="group-item">
            <a href="/News">
                <img src="../images/(G)I-dle.jpg" alt="(G)I-dle">
                <h3>(G)I-dle</h3>
            </a>
        </div>
        <div class="group-item">
            <a href="/News">
                <img src="../images/mml.jpg" alt="Momoland">
                <h3>Momoland</h3>
            </a>
        </div>
</section>
<footer>
    <p>&copy; 2025 K-pop World. All Rights Reserved.</p>
</footer>
</body>
</html>
