<!DOCTYPE html>
<head>
    
    <title>Home Page</title>
    <%- include('partials/head') %>

</head>
<header>
    <div class="backgroundlogo">
        <img src="../images/Main logo.jpg" alt="Main Logo" />
    </div>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/groups">K-pop Groups</a></li>
            <li><a href="/albums">Albums</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/dancetraining">Contact</a></li>
        </ul>
    </nav>
</header>
<body class="homepg">  
        <section id="featured">
            <h2>Featured Groups</h2>
            <div class="featured-groups">
                <div class="group-card">
                    <a href="groups">
                        <img src="../images/bplogo.jpg" alt="Suggestion" style="cursor: pointer;">
                      </a>                      
                    <h3>Black Pink</h3>
                </div>
                <div class="group-card">
                    <a href="groups">
                    <img src="../images/BTSlogo.jpg" alt="Group 2" style="cursor: pointer;">
                    </a>
                    <h3>BTS</h3>
                </div>
                <div class="group-card">
                    <a href="groups">
                    <img src="../images/Baemonlogo.jpg" alt="Group 3" style="cursor: pointer;">
                    </a>
                    <h3>Baby Monster</h3>
                </div>
            </div>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2025 K-pop World. All Rights Reserved.</p>
    </footer>
</body>
</html>
