<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome Page</title>
    <%- include('partials/head') %>
</head>
<body>
    <header>
        <div class="backgroundlogo">
            <img src="../images/Main logo.jpg" alt="Main Logo" />
        </div>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#groups">K-pop Groups</a></li>
                <li><a href="#albums">Albums</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#dancetraining">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="hero">
            <h1>Welcome to the Jue's PopStep!</h1>
            <p>Watch and learn about K-pop groups, each member, and dance.</p>
            <a href="/home" class="btn-primary">Discover More</a>
        </section>

        <section id="about">
            <h2>About Us</h2>
            <p>We are dedicated to bringing you all the news, albums, and updates on the K-pop industry!</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 K-pop World. All Rights Reserved.</p>
    </footer>
</body>
</html>
