<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
</head>
<body>
    <header>
        <h1>Search Results</h1>
        <a href="/groups">← Back to K-pop Groups</a>
    </header>

    <section id="resultsContainer"></section>
</body>
</html>
